For this project, we will be exploring the publicly available data from LendingClub.com. Lending Club connects people who need money (borrowers) with people who have money (investors). As an investor one would want to invest in people who showed a profile of having a high probability of paying the amount back.The data that we have is from 2007-2010.

**Problem Statement**

Using the Decision Tree model, classify whether or not the borrower paid back their loan in full.

**About the dataset**

*The data file train.csv contains the 7662 instances with the 15 features including the target feature.
*The datafile test.csv contains the 1916instances with the 14 features excluding the target feature.
Evaluation metrics
For this particular dataset, we are using accuracy_score as the evaluation metric.

Submissions will be evaluated based on accuracy_score as per the below threshold.

**Evaluation metrics**
 
Your accuracy_score score	Points earned for the Task
* 0.83 <= accuracy_score	100% of the available points
* 0.81 <= accuracy_score < 0.83	80% of the available points
* 0.79 < accuracy_score < 0.81	70% of the available points
* accuracy_score <= 0.79	No points earned
Why solve this project?
After completing this project, you will have a better understanding of how to build a decision tree model.

**In this project, you will apply the following concepts**.

*  Train-test split
*  Correlation between the features
* Decision Tree Modeling
* Evaluation Metrics

In [ ]:
import pandas as pd
import numpy as np
import numpy as np
import matplotlib.pyplot as plt
from io import StringIO
from sklearn.tree import export_graphviz
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn import metrics
from IPython.display import Image
import pydotplus
train_path="/content/drive/MyDrive/Colab_Notebooks/dt_train.csv"
test_path="/content/drive/MyDrive/Colab_Notebooks/dt_test.csv"
df_train=pd.read_csv(train_path)

In [4]:
df_train.head()

     Id customer.id credit.policy  ... inq.last.6mths delinq.2yrs  paid.back.loan
0  6269    LA006270           Yes  ...    Less than 5          No             Yes
1  1460    LA001461           Yes  ...    Less than 5         Yes             Yes
2  5539    LA005540           Yes  ...    Less than 5          No             Yes
3  9020    LA009021            No  ...   Less than 10          No             Yes
4  4365    LA004366           Yes  ...    Less than 5         Yes             Yes

[5 rows x 16 columns]

Checking the data types

In [5]:
df_train.dtypes

Id                     int64
customer.id           object
credit.policy         object
purpose               object
int.rate              object
installment          float64
log.annual.inc       float64
dti                  float64
fico                   int64
days.with.cr.line    float64
revol.bal              int64
revol.util           float64
pub.rec                int64
inq.last.6mths        object
delinq.2yrs           object
paid.back.loan        object
dtype: object

Dropping Id & Customer Id columsns in both train & test data

In [6]:
df_train.drop(["Id","customer.id"],axis=1,inplace=True)
df_test.drop(["Id","customer.id"],axis=1,inplace=True)

Changing the object variables to categorical variables in both train & test data

In [7]:
df_train["credit.policy"]=df_train["credit.policy"].astype('category').cat.codes
df_train["purpose"]=df_train["purpose"].astype('category').cat.codes
df_train['inq.last.6mths']=df_train['inq.last.6mths'].astype('category').cat.codes
df_train['delinq.2yrs']=df_train['delinq.2yrs'].astype('category').cat.codes
df_train['paid.back.loan']=df_train['paid.back.loan'].astype('category').cat.codes

In [9]:
df_test["credit.policy"]=df_test["credit.policy"].astype('category').cat.codes
df_test["purpose"]=df_test["purpose"].astype('category').cat.codes
df_test['inq.last.6mths']=df_test['inq.last.6mths'].astype('category').cat.codes
df_test['delinq.2yrs']=df_test['delinq.2yrs'].astype('category').cat.codes

In [8]:
df_train.head()

   credit.policy  purpose int.rate  ...  inq.last.6mths  delinq.2yrs  paid.back.loan
0              1        2   12.53%  ...               3            0               1
1              1        1   10.20%  ...               3            1               1
2              1        2   12.87%  ...               3            0               1
3              0        0   15.37%  ...               0            0               1
4              1        2   14.61%  ...               3            1               1

[5 rows x 14 columns]

Removing the percentage from int rate in both train & test data

In [10]:
df_train["int.rate"]=df_train["int.rate"].str.rstrip('%').astype('float')
df_train['int.rate']=round(df_train['int.rate']/100,2)
df_test["int.rate"]=df_test["int.rate"].str.rstrip('%').astype('float')
df_test['int.rate']=round(df_test['int.rate']/100,2)

In [11]:
df_train.head()

   credit.policy  purpose  ...  delinq.2yrs  paid.back.loan
0              1        2  ...            0               1
1              1        1  ...            1               1
2              1        2  ...            0               1
3              0        0  ...            0               1
4              1        2  ...            1               1

[5 rows x 14 columns]

Splitting into train & test data

In [12]:
X=df_train.iloc[:,:13]
y=df_train.iloc[:,-1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
print(y_test)

6223    1
3773    1
628     1
7224    1
6857    1
       ..
4462    1
2160    1
7239    1
3025    1
4180    1
Name: paid.back.loan, Length: 2299, dtype: int8

Using the Sklearn decision tree with criterion as entropy with max depth 2 & checking the accuracy score

In [13]:
from sklearn.metrics import accuracy_score
dt2 = tree.DecisionTreeClassifier(criterion='entropy', max_depth=2)
dt2.fit(X_train, y_train)
y_pred = dt2.predict(X_test)
full_accuracy_score = accuracy_score(y_test, y_pred)
print(full_accuracy_score)

0.8421052631578947

Using the Sklearn decision tree with criterion as entropy with max depth 3 & checking the accuracy score

In [14]:
from sklearn.metrics import accuracy_score
dt3 = tree.DecisionTreeClassifier(criterion='entropy', max_depth=3)
dt3.fit(X_train, y_train)
y_pred = dt3.predict(X_test)
max3_accuracy_score = accuracy_score(y_test, y_pred)
print(max3_accuracy_score)

0.8421052631578947

Using the Sklearn decision tree with criterion as entropy & checking the accuracy score

In [15]:
from sklearn.metrics import accuracy_score
dt3 = tree.DecisionTreeClassifier(criterion='entropy')
dt3.fit(X_train, y_train)
y_pred = dt3.predict(X_test)
max3_accuracy_score = accuracy_score(y_test, y_pred)
print(max3_accuracy_score)

0.742061765985211

Using the Sklearn decision tree with criterion as entropy & using minimum sample leaves.

In [17]:
dt_msl1 =tree.DecisionTreeClassifier(criterion='entropy',min_samples_leaf=100)
dt_msl1.fit(X_train, y_train)
y_pred = dt_msl1.predict(X_test)
dt_msl_score=round(dt_msl1.score(X_train, y_train),2)

print(dt_msl_score)

0.84

Using the Sklearn decision tree with criterion as entropy with max depth as 7

In [18]:
from sklearn.metrics import accuracy_score
dt5 = tree.DecisionTreeClassifier(criterion='entropy', max_depth=7)
dt5.fit(X_train, y_train)
y_pred = dt5.predict(X_test)
full_accuracy_score = accuracy_score(y_test, y_pred)
print(full_accuracy_score)

0.8338408003479774

Since the acuracy score falls with the given slab brackets, we take the decision tree classifier with max dept as 7 & predict the test data

In [20]:
y_pred_test = dt5.predict(df_test)
print(y_pred_test)
submissions_f = pd.DataFrame(y_pred_test,columns = ['paid.back.loan'])
submissions_f.to_csv('/content/drive/MyDrive/Colab Notebooks/dt_sample_submission.csv')